body{
    margin: 0px;
    padding: 0px;
}
.Header{
 display: flex;
 justify-content: space-between;
 height: 60px;
    
}
.Navbar{
    margin-top: 15px;
    margin-right: 50px;
    margin-top: 27px;
}
.NavATag{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-top: 35px;  
}
.NavATag2{
    background-color: #D26E4C;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    margin-left: 10px;  
}
.Headingh1{
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 27px;

    
}

.ImageDiv{
    display: flex;
    justify-content: center;
}
.AboutUs{
    text-align: center;
    margin-top: 0px;
    text-decoration:underline;

}
.AboutUsDiv{
    display: flex;
    justify-content: space-around;
}
.AboutSectionImage{
    border-radius: 10px;
    width: 500px;
    height: 300px;
   
}
.AboutUsParagrapgh{
    width: 1300px;
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    width: 700px;
}
.WinterT-Shirts{
    text-align: center;
    margin-top: 0px;
    text-decoration:underline;
}
.T-Shirts{
    text-align: center;
    margin-top: 0px;
    text-decoration:underline;
}
.ShirtDesign{
    height: 200px;
    margin-top: 10px;
}
.WinterShirtDesign{  
    height: 200px;
    margin-top: 10px;
    margin-left: 20px;
}
.CardDesign{
   border: 2px solid gray;
   width: 200px;
   height: 100px;
  
}
.WinterCardDesign{
    border: 2px solid gray;
    width: 250px;
    height: 100px;
}
.CardHeading{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 40px;
}
.WinterCardHeading{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 70px;
}
.Button{
    background-color: black;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aButtonDesign{
    background-color: black;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
.Footer{ 
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.FooterHeading
{

    color: white;
    font-size: 25px;
   text-align: center;
}
.CardImage{
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin-left: -15px;

}
.AvaiableTshirtCard{
  
   display: flex;
   justify-content: space-around;
   margin-left: 50px;
    
}
.CollectionParagrapgh{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    width: 600px;
    color: black;
    margin-left: 140px;
}
.CollectionButtonDiv{
    background-color: black;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    border-radius: 15px;
}
.CollectionButton{
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: #D26E4C;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.ContactUsImage{
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin-left: -80px;
}

.RegistrationButton{
    background-color: aqua;
}

.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image img {
    height: 250px;
    width: 250px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }
  .headingGallery{
text-align: center;
font-weight: bold;
text-decoration:underline; 
  }