body{
    margin: 0px;
    padding: 0px;
}
/* .Header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    height: 60px;
       
   } */
   .Navbar{
       margin-top: 15px;
       margin-right: 50px;
   }
   .NavATag{
       font-size: 20px;
       text-decoration: none;
       color: white;
       margin-left: 20px;
      
       
   }
   .Headingh1{
       color: white;
       font-size: 25px;
       text-align: center;
       margin-top: 12px;
       margin-left: 30px;
       
   }
   
   

#btn1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EAEAEA;

}
#btn2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #B9B7D1;

}
#btn3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #7D8166 ;

}
#btn4{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #5C4F2D ;

}
#btn5{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #361B6D  ;

}
#btn6{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #B1B1B3;
}
#btn7{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F6E5CD;
}
#btn8{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #DB94C3;
}
#btn9{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #B22867;
}
#btn10{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E06317;
}
#btn11{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #B00826;
}
#btn12{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #077141;
}
.Footer{ 
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.FooterHeading
{

    color: white;
    font-size: 25px;
   text-align: center;
}
.DrawingArea{
    /* border: 2px solid white; */
    width: 210px;
    height: 200px;
    margin-left: -310px;
    margin-top: 140px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
}
.InputTextStyle{
    margin-top: 100px;
    background-color: none;
    height: 50px;
    width: 180px;
    fill: none;
    background: transparent;
    outline: none;
    margin-left:-10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
}
 ::placeholder{
    color: black;
}
.Filediv{
    display: flex;
    justify-content: center;
    margin-top: -25px;
}
.CustomizationArea{
    height: 620px;
    width: 900px;
    border: 5px solid gray;
    border-radius: 10px;  
}
.Class1{
    display: flex  ; justify-content:center;width:100%
}
.Class2{
    display:flex; justify-content:center
}
.Class3{
    text-align:center ; text-decoration:underline
}
.Class4{
    display: flex; justify-content: center ; flex-direction:row ;
}
.Class5{
    margin-left:300px ;
}
.Class6{
    margin-top:-280px
}
.Class7{
    margin-left:410px ;  height:150px ; width:180px ; display:none
}
.Class8{
    margin-top:-200px
}
.Class9{
    margin-left:420px ;  height:150px ; width:150px ; display:none
}
.Class10{
    margin-top:-200px
}
.Class11{
    margin-left:430px ;  height:130px ; width:130px ; display:none
}
.Class12{
    margin-top:-200px
}
.Class13{
    margin-left:430px ;  height:140px ; width:140px ;display:none 
}
.Class14{
    height: 130px; margin-left:5px;  
}
.Class15{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    width: 40x;
    display: none;
    margin-top: -110px;
}
.Class16{
    margin-top:-20px
}
.Class17{
    border: 5px solid gray ;width:300px ;height:150px ; 
    margin-left:40px ; margin-top:-350px ; border-radius:10px
}
.Class18{
    text-align:center ; text-decoration:underline
}
.Class19{
    display: flex;  justify-content:center ; margin-top:-5px
}
.Class20{
    display: flex;  margin-top:-10px ; justify-content:center ; margin-top:-15px
}
.Class21{
    border: 5px solid gray ;width:300px ;height:230px ; 
  margin-left:40px ; margin-top:10px ; border-radius:10px
}
.Class22{
    text-align:center ; text-decoration:underline
}
.Class23{
    margin-top:-5px ; display: flex;   justify-content:center ; 
}
.Class24{
    margin-top: 10px; margin-left: 5px ; height:50px ; font-weight:bold
}
.Class25{
    margin-top: 10px; margin-left: 5px ; height:50px ; font-weight:bold
}
.Class26{
    margin-left:5px; margin-top: 10px; height:50px ; margin-right:5px
}
.Class27{
    margin-left:5px; height:50px ; margin-right:5px; margin-top:5px ; width:290px
}
.Class28{
    border: 5px solid gray ;width:300px ;height:180px ; 
    margin-left:40px ; margin-top:10px ; border-radius:10px
}
.Class29{
    text-align:center ; text-decoration:underline
}
.Class30{
    margin-top:-2px ; display: flex;   justify-content:center ;
}
.Class31{
    margin-left: 60px ; 
}
.Class32{
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}
.Class33{
    border: 5px solid gray ;width:300px ;height:150px ; 
    margin-left:500px ; margin-top:-130px ; border-radius:10px
}
.Class34{
    text-align:center; text-decoration:underline ; margin-top:0px
}
.Class35{
    display:flex ; justify-content:center
}
.Class36{
    margin-top:0px;border:2px solid black ;
     width:50px; height:50px ; display:flex; justify-content:center; align-items:center ; margin-left:5px
}
.Class37{
    margin-top:0px;border:2px solid black ; 
    width:50px; height:50px ; display:flex; justify-content:center; align-items:center ; margin-left:5px 
}

.Class38{
    margin-top:0px;border:2px solid black ; 
    width:50px; height:50px ; display:flex; justify-content:center; align-items:center ; margin-left:5px 
}
.Class39{
    margin-top: 10px;
    margin-left: 2px;
   
}
.Class40{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
